<!--aws ses create-template &#45;&#45;cli-input-json file://mytemplate.json-->

<div style="display:block!important;min-width:100%!important;width:100%!important;margin:0;padding:0" bgcolor="#f4f4f7">
    <table bgcolor="#f4f4f7" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" class="m_-2303444313241295966mobile-shell"
                       width="600">
                    <tbody>
                    <tr>
                        <td class="m_-2303444313241295966td"
                            style="width:600px;min-width:600px;font-size:0pt;line-height:0pt;font-weight:normal;margin:0;padding:0">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="m_-2303444313241295966header" style="padding:50px 0px 42px"
                                        bgcolor="#f4f4f7">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td class="m_-2303444313241295966main" style="padding:40px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="padding-bottom:26px"><span
                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:24px;color:#292b32;font-weight:bold;text-transform:uppercase;letter-spacing:1px">Hi Yiu,</span><br>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom:26px">
                                                    <div style="color:#212124;font-family:'Noto Sans',Arial,sans-serif;font-size:34px;line-height:44px"
                                                         align="left">Confirm your email address
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-bottom:32px">
                                                    <div style="color:#6e6e70;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:24px"
                                                         align="left">In order to complete your sign-up process, please
                                                        click the button below.<br>
                                                        <br>
                                                        Confirming your account will give you full access to <span
                                                                class="il">ShieldTasker</span> and all future
                                                        notifications will be sent to this email address.
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center" style="padding-bottom:32px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                           class="m_-2303444313241295966center">
                                                        <tbody>
                                                        <tr>
                                                            <th align="left" class="m_-2303444313241295966column"
                                                                style="font-size:0pt;line-height:0pt;font-weight:normal;margin:0;padding:0"
                                                                width="160">
                                                                <table bgcolor="#7DB343" border="0" cellpadding="0"
                                                                       cellspacing="0" style="border-radius:4px"
                                                                       width="250">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:24px;font-weight:bold;padding:12px"
                                                                            align="center"><a
                                                                                href="https://shieldtasker.com/email-validation?kdafjjdkfljgdfgdfgfgdkafg=sdfsdffsdf">Confirm
                                                                            email address</a></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-bottom:26px"></td>
                                            </tr>

                                            <tr>
                                                <td style="padding-bottom:28px">
                                                    <div style="color:#6e6e70;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:24px"
                                                         align="left">Thanks,<br>
                                                        <span class="il">ShieldTasker</span></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="m_-2303444313241295966footer" style="padding:30px 15px 50px">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div style="color:#6e6e70;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px"
                                                         align="center">
                                                        <p style="margin:0;padding:0"> Sent with ♥ from <span
                                                                class="il">ShieldTasker</span></p>
                                                        <p style="margin:0;padding:0"> L20, 109 Pitt St. Sydney
                                                            2000 </p>
                                                        <a href="http://ablink.automated.airtasker.com/wf/click?upn=n8CgJ9yHBYwNT6SNcbBPN5SwXihTMth3w1gngOti-2BGt5hnyEMj0n-2FcTOYG3j2-2BQW_vzrwMSPrfPG949VtqSE49iKQqyGVS4pdoTxqSHUe3XZ3Lpy3nZfqUhMOeP2ilwf0Q0jxlKUrNxfrc-2FmyKDKhm3oBN5v1G2DMG5xltj3F-2BqjEX0GJY5q3eIRWhjik-2Bq927VcRd5jyaFKm23DbR0qEbmWlJ7Myb5wAYZNhAJi8Gvhlw022SoYeeSp6KMbffeLBBGgCFZWu74wnvY-2BtATU651PS7uNfIMSrvbahGh5ErDM1-2FdJjKfndqMR-2FHYUZ5Aogm4v0RyTiYQ7dFTt7QkCnIZnRMDFoGudwnD3AcF0QKcc4EKxT5mTY-2FIops4PA-2F-2FsD3FF4D1-2FDX5s5MNf1FUvHzxv7uVZJvlYGMpXCUJr-2Bmc4ASiiM3o-2Fm8S8mGEcoplkZjmn8LkfBqf711izlCJQi-2FjjVd01-2FP-2F8LBk9A6E5ogp6-2Bi7lpz5B6VQIwJBBxD-2F-2BI4LaZx8GNnrGAKOJhVynqhon-2BhSjHhNu7DRNecsTAaWPUis2gdQnfng8Xqi0G49s9DTBHskID3C1TmRB3L-2F2ywlgcDYWKvhWabovE4KKg7Dmt0f73e-2Fn2flP3rAuHmVQZMVLBSOTvDIkxMiOskvs2URg5CCqZB1vSyWnJW4v8l-2F32sZjmIW-2FtGvVJh6AC1wAtz7POZCOP7wd-2Fup5XbX3YXuJEYGAU3jy5KBFJQHkCCsM-3D"
                                                           style="color:#6e6e70;text-decoration:underline"
                                                           target="_blank"
                                                           data-saferedirecturl="https://www.google.com/url?q=http://ablink.automated.airtasker.com/wf/click?upn%3Dn8CgJ9yHBYwNT6SNcbBPN5SwXihTMth3w1gngOti-2BGt5hnyEMj0n-2FcTOYG3j2-2BQW_vzrwMSPrfPG949VtqSE49iKQqyGVS4pdoTxqSHUe3XZ3Lpy3nZfqUhMOeP2ilwf0Q0jxlKUrNxfrc-2FmyKDKhm3oBN5v1G2DMG5xltj3F-2BqjEX0GJY5q3eIRWhjik-2Bq927VcRd5jyaFKm23DbR0qEbmWlJ7Myb5wAYZNhAJi8Gvhlw022SoYeeSp6KMbffeLBBGgCFZWu74wnvY-2BtATU651PS7uNfIMSrvbahGh5ErDM1-2FdJjKfndqMR-2FHYUZ5Aogm4v0RyTiYQ7dFTt7QkCnIZnRMDFoGudwnD3AcF0QKcc4EKxT5mTY-2FIops4PA-2F-2FsD3FF4D1-2FDX5s5MNf1FUvHzxv7uVZJvlYGMpXCUJr-2Bmc4ASiiM3o-2Fm8S8mGEcoplkZjmn8LkfBqf711izlCJQi-2FjjVd01-2FP-2F8LBk9A6E5ogp6-2Bi7lpz5B6VQIwJBBxD-2F-2BI4LaZx8GNnrGAKOJhVynqhon-2BhSjHhNu7DRNecsTAaWPUis2gdQnfng8Xqi0G49s9DTBHskID3C1TmRB3L-2F2ywlgcDYWKvhWabovE4KKg7Dmt0f73e-2Fn2flP3rAuHmVQZMVLBSOTvDIkxMiOskvs2URg5CCqZB1vSyWnJW4v8l-2F32sZjmIW-2FtGvVJh6AC1wAtz7POZCOP7wd-2Fup5XbX3YXuJEYGAU3jy5KBFJQHkCCsM-3D&amp;source=gmail&amp;ust=1576909122994000&amp;usg=AFQjCNHJqx6yhHg-WIwiOLSi70RPlcy1QA"><span
                                                                style="color:#008fb4;text-decoration:underline"></span></a>


                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <img src="https://ci3.googleusercontent.com/proxy/3MKnX80P8ZThsTRZ8ikBCH3N2QdzYwWKIoO_ZqVrZlHjDxE1RC_817-EXgyzmCj_65jg9paryCd52WNftyEbpqfTinz4BqSpXwOWRe6cHVSdSYRasFLXa1heEj9tiPPfNx21LD0vP9CGL1SQyb905t_QDR7n07HzI6jtB1P6qkmfiRSn2SGepTDLkUxi5YFs9Z917tC_QCWNhWwaudkqKV_uZOdbuvrTBYA7g4sOwzxBRtEbFf0_3_OaBfFaTbkn5K2bHmR6vDqo5OZ-_yCuiiAqs7ceha6JaTZm6ZEHRi-O8vcCOeV1iy8i3byY36LMh5ZRExSR4lHuHBEU3SMSXX-bnb3atcdQg4HolaVNAI5lQaltmfpEIjqutykTFVGE7z1lF8D85lMi9ugIc94lBCwdn_2-zGh7qlIXJiWb8DKkhAy4iWyhxUht2wN3T2j2ghReTfWepUz7pssq6UNtHRQM1c7mwNIhCSpGVa8cUFyq2FfTtCuFagaXg7eeYAq6QleyMLgqzFMU36_71aKDtbZP1jRm5UVCfL8sO9A6FxtWmJyrRzjqXhSaui_noZngb3WypghA5kf5FCT3HA6uwkSOpaQn0W88yq0LGO-PLr9fSbj7XsVoK2qsYS2nO6c88fDzLTISK_OWKd9Bn120wH7-_R5VafLg8d-B3pVG4vsSN8xcladMvU3rGBwcTIxf0Z42s_644sWjxguQuHYSLx6jwqfe538Pqu9CGaQaDJMrvAnCwu3F_wTXTLxt21c7bW_UC7jegJhF5R6wJi1slAvvdSLDn3FyC0Gzm4om5xqQ-lp6h4Az5mFXqi4UUbs7mbB3oPBffBQlTt_s3loHylYXj4XmKH0Au8CFRZ9-nsETJqksST5bj4QodKSPEy6HF6kxSJ1_SbP2l30bpfiWd47fvUQXqZATy40x6Kqh4Bo4uydarZMs1q5zN452w8hd0xF6-zZz5hBXll4dzmnNkrqCMM5C3WFjvEP5D5ytNl-o6yaFTukDJJwEGpQuu0ierfLb_1vepcUyRjvj2LYhZrNJi1b5JQ=s0-d-e1-ft#http://ablink.automated.airtasker.com/wf/open?upn=vzrwMSPrfPG949VtqSE49iKQqyGVS4pdoTxqSHUe3XZ3Lpy3nZfqUhMOeP2ilwf0Q0jxlKUrNxfrc-2FmyKDKhm3oBN5v1G2DMG5xltj3F-2BqjEX0GJY5q3eIRWhjik-2Bq927VcRd5jyaFKm23DbR0qEbmWlJ7Myb5wAYZNhAJi8Gvhlw022SoYeeSp6KMbffeLBBGgCFZWu74wnvY-2BtATU651PS7uNfIMSrvbahGh5ErDM1-2FdJjKfndqMR-2FHYUZ5Aogm4v0RyTiYQ7dFTt7QkCnIZnRMDFoGudwnD3AcF0QKcdgH6sADXPSYVDK99yAew6vTwHXapvHs-2FmLk7jH7V5FTq0mKUoU8zRR2XSl53-2B4pwyHmdcG5HQ4O9Z-2FGo50K0SJ9MTdgcuocd3JabaG13-2BcB6irjDY73kWy4lY0JRrRJMeNjFHrCphtxCklXoD-2B3BbOfsWHmhDKl4eVmecqTCOeJ40lRnd8XiAIo-2BhUiJ7NsqCfMtgDJerxQLxibk2JhCM40Mi8IXXIum-2BFNIaRDolGxyHZXYzIN9PdEjcPEoiOyxEzpl-2FqyfPNqjDsofpxF98VQY0HdDkIchRpt2de0wnjqoK-2ByxAkRPBhEVS6xfIpMIh-2BjActZ1gva0JBe9d7C1J2BI8JHfNZvWFV2T9DdEonhf88sHd9j9-2BO6Apsj84UnIY-3D"
         alt="" width="1" height="1" border="0"
         style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
         class="CToWUd">
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>
